<script id="ViewGroups" type="text/template">

    <div class="mdl-tooltip" data-mdl-for="refresh_icon">
        $labels.btnRefresh$
    </div>
    <div class="mdl-tooltip" data-mdl-for="add_icon">
        $labels.btnAdd$
    </div>
    <div class="mdl-tooltip" data-mdl-for="filter_icon">$labels.filter$</div>

    <div class="mdl-tooltip" data-mdl-for="export_icon">$labels.btnExport$</div>
    <div class="mdl-tooltip" data-mdl-for="import_icon">$labels.btnImport$</div>

    $htmlTooltips$
    <div style="width: 100%">
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col  mdl-cell--12-col-phone mdl-cell--6-short-view2">
            <div class="mdl-card__title mdl-color--blue-grey-200">
                <h2 class="mdl-card__title-text mdl-color-text--white">$labels.title_set$</h2>
            </div>
            <div class="mdl-card__supporting-table">
                <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
                    <tbody>
                    <tr data-rbac="settings.hostname">
                        <td class="mdl-data-table__cell--non-numeric">$labels.pushDest$</td>
                        <td>
                            <div class="mdl-textfield mdl-textfield-no-padding mdl-js-textfield mdl-textfield--floating-label"
                                 style="width: 410px;">
                                <input class="mdl-textfield__input text-align-right" id="data-dest" name="data-dest" type="text"
                                       value="$cntr.dc-push-destination-url$"  pattern="^[a-zA-Z\d\-:/_.]+$"
                                       data-rbac-element="groupsTable.push-dest"/>
                            </div>
                        </td>
                    </tr>
                    <!--<tr data-rbac="settings.pushRetries">
                        <td class="mdl-data-table__cell&#45;&#45;non-numeric">$labels.pushRetries$</td>
                        <td>
                            <div class="mdl-textfield mdl-textfield-no-padding mdl-js-textfield mdl-textfield&#45;&#45;floating-label"
                                 style="width: 410px;">
                                <input class="mdl-textfield__input text-align-right" id="data-push-retries" name="data-push-retries" type="number"
                                       value="$cntr.push-retries$"
                                       data-rbac-element="groupsTable.push-dest"/>
                            </div>
                        </td>
                    </tr>
                    <tr data-rbac="settings.pushTimeout">
                        <td class="mdl-data-table__cell&#45;&#45;non-numeric">$labels.pushTimeout$</td>
                        <td>
                            <div class="mdl-textfield mdl-textfield-no-padding mdl-js-textfield mdl-textfield&#45;&#45;floating-label"
                                 style="width: 410px;">
                                <input class="mdl-textfield__input text-align-right" id="data-push-retry-timeout" name="data-push-retry-timeout" type="number"
                                       value="$cntr.push-retry-timeout$"
                                       data-rbac-element="groupsTable.push-dest"/>
                            </div>
                        </td>
                    </tr>-->
                    <tr data-rbac="settings.actions">
                        <td>
                        </td>
                        <td>
                            <button
                                    data-rbac="groupsTable.button-apply" data-bind-event="click"
                                    data-bind-method="CtrlActionGroupTable.setParams"
                                    class="mdl-button mdl-js-button mdl-button--raised">
                                $labels.apply$
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col  mdl-cell--12-col-phone mdl-cell--6-short-view2">
        <div class="mdl-card__title mdl-color--blue-grey-200 enable-interface">
            <div id="title-row" style="width:100%;" class="content-grid mdl-grid main-row">
                <div class="mdl-cell">
                    <h2 class="mdl-card__title-text mdl-color-text--white">$labels.title$</h2>
                </div>
                <div data-rbac="plcRouting.actions" class="mdl-cell mdl-cell-icons
                            mdl-typography--text-right mdl-color-text--white" style="margin: 3px;">

                        <span id="filter_icon" class="icon-filter title_icon" style="margin-left: 0"
                              data-bind-event="click"
                              data-bind-method="CtrlActionWhiteList.filter"></span>

                    <div id="table-search" class="mdl-textfield mdl-js-textfield is-upgraded is-focused table-search">
                        <div class="mdl-textfield-holder">
                            <input class="mdl-textfield__input search" type="text">
                        </div>
                    </div>

                    <i id="refresh_icon" class="material-icons title_icon"
                       data-rbac="groupsTable.refresh"
                       data-bind-event="click"
                       data-bind-action="CtrlActionGroupTable.exec">refresh</i>

                    <i id="export_icon" class="material-icons title_icon"
                       data-rbac="groupsTable.export"
                       data-bind-event="click"
                       data-bind-method="CtrlActionGroupTable.export">vertical_align_bottom</i>

                    <i id="add_icon" class="material-icons title_icon"
                       data-rbac="groupsTable.add"
                       data-bind-event="click"
                       data-bind-method="CtrlActionGroupTable.addGroup">playlist_add</i>

                    <span id="import_icon" class="icon-import title_icon"
                          data-bind-event="click"
                          data-bind-method="CtrlActionGroupTable.importClick"></span>
                </div>
            </div>
        </div>
        <div class="mdl-card__supporting-table">

            <table id="groupsList" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
                <thead class="th-color-grey text-align-right">
                <tr>
                    <th class="checkbox-col"><input style="cursor: pointer;" class="selectAll" name="selectAllNodes"
                                                    type="checkbox"/></th>
                    <!--<th data-sort="int" style="text-align: left!important;"># <i class="icon-sort"></i></th>-->
                    <th colspan="2" data-sort="string" style="text-align: left!important;">$labels.groupID$ <i class="icon-sort"
                                                                                                   style="left: 65px;"></i>
                    </th>
                    <th colspan="2"></th>
                </tr>
                </thead>
                <tbody class="list">
                $htmlGroups$
                </tbody>
            </table>
        </div>
    </div>
</script>