
<div class="mdl-tooltip" data-mdl-for="export_icon">
    $labels.btnExportParams$
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col  mdl-cell--12-col-phone mdl-cell--6-short-view">
    <div class="mdl-card__title mdl-color--blue-grey-200 enable-interface">
        <div style="width:100%;" class="content-grid mdl-grid main-row">
            <div class="mdl-cell">
                <h2 class="mdl-card__title-text mdl-color-text--white">$title$</h2>
            </div>
            <div data-rbac="nodes.actions" class="mdl-cell mdl-cell-icons
                            mdl-typography--text-right mdl-color-text--white" style="margin: 3px;">

                <i id="export_icon" class="material-icons title_icon"
                   data-rbac="rs485.button-export"
                   data-bind-event="click"
                   data-bind-method="CtrlActionNANRs.exportParams">vertical_align_bottom</i>
            </div>
        </div>
    </div>
    
    <form id="NANRsForm">
        <table class="mdl-data-table mdl-js-data-table" style="width: 100%">			 
            <tbody>
                <tr data-rbac="rs485.baudrate">
                    <td class="mdl-data-table__cell--non-numeric">$labels.baudrate$</td>
                    <td>$elements.baudrate$</td>
                </tr>
                <tr data-rbac="rs485.data-bits">
                    <td class="mdl-data-table__cell--non-numeric">$labels.dataBits$</td>
                    <td>$elements.dataBits$</td>
                </tr>
                <tr data-rbac="rs485.parity">
                    <td class="mdl-data-table__cell--non-numeric">$labels.parity$</td>
                    <td>
                        $elements.parity$
                    </td>
                </tr>
                <tr data-rbac="rs485.stop-bits">
                    <td class="mdl-data-table__cell--non-numeric">$labels.stopBits$</td>
                    <td>$elements.stopBit$</td>
                </tr>
            </tbody>
            <tfoot data-rbac="rs485.actions">
                    <tr>
                        <td></td>
                        <td>
                            <!--<div id="btnRsExportParams" data-bind-event="click" data-bind-method="CtrlActionNANRs.exportParams" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised" data-rbac="rs485.button-export">
                                $labels.btnExportParams$
                            </div>&nbsp;-->
                            <button id="btnRsApply"
                                data-rbac="rs485.button-apply"
                                data-bind-event="click" data-bind-method="CtrlActionNANRs.setParams" class="mdl-button mdl-js-button mdl-button--raised">
                                $labels.btnApply$
                            </button>
                        </td>
                    </tr>
            </tfoot>
        </table>
    </form>
</div>