<script type="text/template" id="ViewNetwork">


    <div class="mdl-tooltip" data-mdl-for="refresh_icon">$labels.btnRefresh$</div>
    <div class="mdl-tooltip" data-mdl-for="export_icon">$labels.btnExport$</div>
    <div class="mdl-tooltip" data-mdl-for="filter_icon">$labels.filter$</div>
    <div id="tooltipFullScreen" class="mdl-tooltip" data-mdl-for="expand_icon">$labels.fullscreen$</div>
    <div id="discover_tooltip" class="mdl-tooltip" data-mdl-for="discover_icon"
         style="min-width: 100px">$labels.btnDiscover$</div>

        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col  mdl-cell--12-col-phone" style="height: 98%;">
            <div class="mdl-card__title mdl-color--blue-grey-200 enable-interface">
                <div id="title-row" style="width:100%;" class="content-grid mdl-grid main-row">
                    <div class="mdl-cell">
                        <h2 class="mdl-card__title-text mdl-color-text--white">$labels.title$</h2>
                    </div>
                    <div data-rbac="plcRouting.actions" class="mdl-cell mdl-cell-icons
                            mdl-typography--text-right mdl-color-text--white" style="margin: 3px;">

                        <span id="filter_icon" class="icon-filter title_icon"
                              data-bind-event="click"
                              data-bind-method="CtrlActionNetwork.filter"></span>

                        <div id="table-search" class="mdl-textfield mdl-js-textfield is-upgraded is-focused table-search">
                            <div class="mdl-textfield-holder">
                                <input class="mdl-textfield__input search" type="text">
                            </div>
                        </div>

                        <i id="refresh_icon" class="material-icons title_icon"
                           data-rbac="nodes.refresh-list"
                           data-bind-event="click"
                           data-bind-action="CtrlActionNetwork.exec">refresh</i>

                        <i id="export_icon" class="material-icons title_icon"
                           data-rbac="nodes.export-list"
                           data-bind-event="click"
                           data-bind-method="CtrlActionNetwork.export">vertical_align_bottom</i>

                        <span id="discover_icon" class="icon-discover title_icon"
                              data-bind-event="click"
                              data-bind-method="CtrlActionNetwork.discoverPLC"></span>

                        <i id="expand_icon" class="material-icons title_icon"
                           data-bind-event="click"
                           data-bind-method="CtrlActionNetwork.expand">fullscreen</i> <!--fullscreen_exit-->

                    </div>
                </div>
            </div>
            <div class="mdl-grid" style="width: 100%; height: 100%;padding: 0;">
                <div class="mdl-cell" style="width: 260px; margin: 0;height: 100%;overflow-x: hidden;overflow-y: auto;">
                    <table id="nodesList" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">

                        <thead class="th-color-grey text-align-right">
                            <tr class="double-line">
                                <th data-sort="int" class="mdl-data-table__cell--non-numeric">$labels.shortAddress$ <i class="icon-sort"></i></th>
                                <th data-sort="string" class="mdl-data-table__cell--non-numeric text-align-left">$labels.deviceTitleSplit$ <i class="icon-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            $htmlNodes$
                        </tbody>
                    </table>
                </div>
                <div class="mdl-cell" style="margin:0; width: calc(100% - 260px)">
                    <div id="cv-spinner" class="mdl-spinner mdl-js-spinner is-active" style="position:absolute; top: 50%;right: 50%"></div>
                    <div class="mdl-card__supporting-table" id = "network-graph" style="width: 100%;height: 100%;"></div>
                    <div id="network-statistics-time" style="position: absolute"><b>$labels.statisticsTime$</b> : <b>$statisticsTime$</b></div>
                </div>
            </div>
        </div>
</script>