<script type="text/template" id="ViewNeighbors">
    <div class="mdl-tooltip" data-mdl-for="refresh_icon">
        $labels.btnRefresh$
    </div>
    <div class="mdl-tooltip" data-mdl-for="filter_icon">$labels.filter$</div>

    <div class="mdl-tooltip" data-mdl-for="export_icon">
        $labels.btnExport$
    </div>
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col  mdl-cell--12-col-phone">
            <div class="mdl-card__title mdl-color--blue-grey-200 enable-interface">
                <div id="title-row" style="width:100%;" class="content-grid mdl-grid main-row">
                    <div class="mdl-cell">
                        <h2 class="mdl-card__title-text mdl-color-text--white">$labels.title$</h2>
                    </div>
                    <div data-rbac="plcNeighbor.actions" class="mdl-cell mdl-cell-icons
                            mdl-typography--text-right mdl-color-text--white" style="margin: 3px;">

                        <span id="filter_icon" class="icon-filter title_icon" style="margin-left: 0"
                              data-bind-event="click"
                              data-bind-method="CtrlActionWhiteList.filter"></span>

                        <div id="table-search" class="mdl-textfield mdl-js-textfield is-upgraded is-focused table-search">
                            <div class="mdl-textfield-holder">
                                <input class="mdl-textfield__input search" type="text">
                            </div>
                        </div>

                        <i id="refresh_icon" class="material-icons title_icon"
                           data-rbac="plcNeighbor.refresh"
                           data-bind-event="click"
                           data-bind-action="CtrlActionPLCNeighbor.exec">refresh</i>

                        <i id="export_icon" class="material-icons title_icon"
                           data-rbac="plcNeighbor.export-list"
                           data-bind-event="click"
                           data-bind-method="CtrlActionPLCNeighbor.exportList">vertical_align_bottom</i>
                    </div>
                </div>
            </div>
            <div class="mdl-card__supporting-table">
                <table id="neighborList" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
                    <thead class="th-color-grey text-align-right">
                        <tr class="double-line">
                            <th class='checkbox-col'><input class="selectAll" name="selectAllNodes" type="checkbox" /></th>
                            <th data-sort="string"><span class="th-label">$labels.shortAddress$</span> <i class="icon-sort"></i></th>
                            <th style="cursor: default;"><span class="th-label">$labels.modulationScheme$</span></th>
                            <th data-sort="int"><span class="th-label">$labels.toneMap$</span> <i class="icon-sort"></i></th>
                            <th style="cursor: default;"><span class="th-label">$labels.modulationType$</span></th>
                            <th data-sort="int"><span class="th-label">$labels.txGain$</span> <i class="icon-sort"></i></th>
                            <th data-sort="int"><span class="th-label">$labels.txCoeff$</span> <i class="icon-sort"></i></th>
                            <th data-sort="int"><span class="th-label" style="line-height: 30px;">$labels.lqi$</span> <i class="icon-sort"></i></th>
                            <th data-sort="int"><span class="th-label">$labels.phaseDiff$</span> <i class="icon-sort"></i></th>
                            <th data-sort="int"><span class="th-label">$labels.tmrValidTime$</span> <i class="icon-sort"></i></th>
                            <th data-sort="int"><span class="th-label">$labels.neighborValidTime$</span> <i class="icon-sort"></i></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        $htmlNeighbors$
                    </tbody>
                </table>
            </div>

                    
            
        </div>
</script>